
  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top mb-0">
    <div class="container">
      <a class="navbar-brand" href="/">Meet U</a>
      <a class="btn btn-warning" href="#">Aprende más sobre Meet U</a>
    </div>
  </nav>