<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Bienvenido al mejor servicio de match de amistades, donde estamos seguros encontrarás a tu nuevo mejor amigo</h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <a class="btn btn-block btn-lg btn-light" href="/Inicio" role="button">Iniciar Sesión</a>
            </div>
            <div class="col-12 col-md-3">
                <a class="btn btn-block btn-lg btn-success" href="/Registro" role="button">Regístrate</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</header>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-screen-desktop m-auto text-primary"></i>
          </div>
          <h3>Fácil de Entender</h3>
          <p class="lead mb-0">Hacer amigos nunca fue tan sencillo</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon icon-key m-auto text-primary"></i>
          </div>
          <h3>Seguro</h3>
          <p class="lead mb-0">Trabajamos constantemente para mantener un ambiente amistoso y seguro</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-check m-auto text-primary"></i>
          </div>
          <h3>Sin mentiras</h3>
          <p class="lead mb-0">Solo conocerás gente de tu escuela</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Image Showcases -->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">

      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('./img/bg-showcase-1.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Encuentra gente como tú</h2>
        <p class="lead mb-0">Meet U funciona de tal forma que te emparejará con gente con la que compartas intereses, buscando así lograr una mejor experiencia</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('./img/bg-showcase-2.jpg');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Actualizado Constantemente</h2>
        <p class="lead mb-0">En EYE, estamos comprometidos con la comunidad de MeetU, por lo que trabajamos constantemente para mejorar el servicio</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('./img/bg-showcase-3.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Prueba y Error</h2>
        <p class="lead mb-0">¿No funcionaron las cosas con tu último match? No te preocupes, ¡en MeetU tendrás múltiples oportunidades para aprender de tus errores haciendo que cada que vuelvas a empezar sea más sencillo!</p>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">Experiencias de usuarios</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="./img/testimonials-1.jpg" alt="">
          <h5>Melisa (Comprometida de Emiliano)</h5>
          <p class="font-weight-light mb-0">"Demasiado interesante. ¡No tanto como mi NOVIO y futuro esposo Emiliano, pero aún así, no puedo dejar de usarla!"</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="./img/testimonials-2.jpg" alt="">
          <h5>Víctor Hugo</h5>
          <p class="font-weight-light mb-0">"Nunca pude hacer amigos por feo, muchas gracias MeetU"</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="./img/testimonials-3.jpg" alt="">
          <h5>Miguel</h5>
          <p class="font-weight-light mb-0">"Estoy bastante contento con los resultados, ahora soy el más popular; todo gracias a MeetU"</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call to Action -->
<section class="call-to-action text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">No esperes más para hacer amigos, Comienza ahora!</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <div class="form-row justify-content-center">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <a class="btn btn-block btn-lg btn-light" href="/Inicio" role="button">Iniciar Sesión</a>
            </div>
            <div class="col-12 col-md-3">
                <a class="btn btn-block btn-lg btn-success" href="/Registro" role="button">Regístrate</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
<% include partials/footer %> 
</body>
<% include partials/script %>
</html>